[Unit]
Description=Time Machine backup (restic)

[Service]
Type=oneshot
ExecStart=%h/.local/bin/asahi-timemachine run
Nice=10
CPUWeight=idle
IOSchedulingClass=idle
TimeoutStartSec=8h
