__pycache__
Brewfile.lock.json
.netrwhist
.codex
asahi/ghostty/themes/asahi-adaptive
asahi/ghostty/adaptive.conf
asahi/ghostty/adaptive.css
btop/themes/asahi-adaptive.theme
asahi/theme/**/__pycache__/
