indent-for-nested-containers-with-the-same-orientation = 30
start-at-login = true
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true
accordion-padding = 30
non-empty-workspaces-root-containers-layout-on-startup = 'smart'
default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'

gaps.inner.horizontal = 10
gaps.inner.vertical = 10
gaps.outer.left = 10
gaps.outer.bottom = 35
gaps.outer.top = 10
gaps.outer.right = 10

# notify Sketchybar about workspace change
exec-on-workspace-change = ['/bin/bash', '-c',
    '/opt/homebrew/opt/sketchybar/bin/sketchybar --trigger aerospace_workspace_change FOCUSED=$AEROSPACE_FOCUSED_WORKSPACE'
]

[workspace-to-monitor-force-assignment]
0 = 'built-in'
1 = ['secondary', 'built-in']
2 = ['secondary', 'built-in']
S = ['secondary', 'built-in']
T = ['secondary', 'built-in']
W = ['secondary', 'built-in']

## windows that should float
[[on-window-detected]]
if.app-id = 'com.apple.systempreferences'
run = 'layout floating'
[[on-window-detected]]
if.app-id = 'com.bitwarden.desktop'
run = ['layout floating', 'move-node-to-workspace 0']

[[on-window-detected]]
if.app-id = 'net.ankiweb.dtop'
run = 'layout floating'
[[on-window-detected]]
if.app-id = 'com.apple.iCal'
run = 'layout floating'
[[on-window-detected]]
if.app-id = 'com.apple.Photos'
run = 'layout floating'
[[on-window-detected]]
if.app-id = 'com.objective-see.lulu.app'
run = 'layout floating'
[[on-window-detected]]
if.app-id = 'com.raycast.macos'
run = 'layout floating'
[[on-window-detected]]
if.window-title-regex-substring = '^(Bullet Physics|Orion Preview).*$'
run = 'layout floating'
[[on-window-detected]]
if.app-name-regex-substring = 'python'
run = 'layout floating'

## move to (s)ocial workspace
[[on-window-detected]]
if.app-id = 'ru.keepcoder.Telegram'
run = ['move-node-to-workspace S']
[[on-window-detected]]
if.app-id = 'com.apple.MobileSMS'
run = ['move-node-to-workspace S']
[[on-window-detected]]
if.app-id = 'Mattermost.Desktop'
run = ['move-node-to-workspace S']
[[on-window-detected]]
if.app-id = 'ZoomChat'
run = ['move-node-to-workspace S']
[[on-window-detected]]
if.app-id = 'org.whispersystems.signal-desktop'
run = ['move-node-to-workspace S']
[[on-window-detected]]
if.app-id = 'com.hnc.Discord'
run = ['move-node-to-workspace S']

## move to (m)ultimedia workspace
[[on-window-detected]]
if.app-id = 'com.apple.Music'
run = ['move-node-to-workspace M']
[[on-window-detected]]
if.app-id = 'com.apple.podcasts'
run = ['move-node-to-workspace M']
[[on-window-detected]]
if.app-id = 'org.videolan.vlc'
run = ['move-node-to-workspace M']
[[on-window-detected]]
if.app-id = 'com.apple.QuickTimePlayerX'
run = ['move-node-to-workspace M']

[mode.main.binding]
alt-period = 'layout tiles horizontal vertical'
alt-comma = 'layout accordion horizontal vertical'
alt-f = 'fullscreen'
alt-r = 'reload-config'

alt-shift-h = 'move left'
alt-shift-j = 'move down'
alt-shift-k = 'move up'
alt-shift-l = 'move right'
alt-shift-n = 'workspace next'
alt-shift-p = 'workspace prev'
alt-shift-c = 'reload-config'

alt-right = 'resize smart -50'
alt-left = 'resize smart +50'

alt-tab = 'workspace-back-and-forth'
alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'

alt-shift-backspace = 'mode service'
alt-shift-comma = 'mode join'

[mode.service.binding]
r = ['flatten-workspace-tree', 'mode main'] # reset layout
#s = ['layout sticky tiling', 'mode main'] # sticky is not yet supported https://github.com/nikitabobko/AeroSpace/issues/2
f = ['layout floating tiling', 'mode main'] # Toggle between floating and tiling layout
backspace = ['close-all-windows-but-current', 'mode main']
esc = 'mode main'

[mode.join.binding]
alt-shift-h = ['join-with left', 'mode main']
alt-shift-j = ['join-with down', 'mode main']
alt-shift-k = ['join-with up', 'mode main']
alt-shift-l = ['join-with right', 'mode main']
esc = ['reload-config', 'mode main']
