# Open table of contents
goto_toc t

# Goto left/right side of the page
# goto_left h
# goto_right l

screen_down d
screen_up u

# Open an embedded file dialog in sioyek rooted in the directory of current opened file
open_document_embedded_from_current_path       <C-S-o>

prev_state <C-j>
next_state <C-k>

search <S-/>

zoom_in +

quit <C-w>

execute_command_r <S-r>
execute_command_s <S-s>
execute_command_d <S-d>
