# Open table of contents
goto_toc t

add_highlight H
delete_highlight_under_cursor dH
overview_definition L
portal_to_definition P

# Goto left/right side of the page
goto_left h
goto_right l

# Open an embedded file dialog in sioyek rooted in the directory of current opened file
open_document_embedded_from_current_path <C-S-o>

prev_state <C-j>
next_state <C-k>

previous_page <left>
next_page <right>

search <S-/>

zoom_in +

quit <C-w>
close_window q

# read/say marked text
_read_selected_text R
# search
_search_with_kagi S
# open dictionary
_open_in_dict_cc D
