background_color 1.0 1.0 1.0
dark_mode_contrast 0.8

custom_background_color 0.18 0.20 0.25
custom_text_color 1.0 1.0 1.0

# Urls to use when executing external_search commands
search_url_k	https://kagi.com/search?q=

middle_click_search_engine s
shift_middle_click_search_engine	k

should_use_multiple_monitors 1

should_launch_new_window 1

# Synctex
inverse_search_command  nvr --remote-silent %1 -c %2

# Use linear texture filtering instead of nearest-neighbor
# Can improve appearance in very high-resolution screens
linear_filter 1

# read the current selection
execute_command_r /usr/bin/say "%3"
# search for the current selection
execute_command_s open https://kagi.com/search?q=%3
# open dict.cc for current selection
execute_command_d open https://www.dict.cc/?s=%3
