background_color 1.0 1.0 1.0
dark_mode_contrast 0.8

# === CATPPUCCIN MOCHA === #
background_color           #1e1e2e

text_highlight_color       #f9e2af
visual_mark_color          #7f849c

search_highlight_color     #f9e2af
link_highlight_color       #89b4fa
synctex_highlight_color    #a6e3a1

highlight_color_a          #f9e2af
highlight_color_b          #a6e3a1
highlight_color_c          #89dceb
highlight_color_d          #eba0ac
highlight_color_e          #cba6f7
highlight_color_f          #f38ba8
highlight_color_g          #f9e2af


custom_background_color    #1e1e2e
custom_text_color          #cdd6f4

ui_text_color              #cdd6f4
ui_background_color        #313244
ui_selected_text_color     #cdd6f4
ui_selected_background_color #585b70

# Urls to use when executing external_search commands
search_url_k	https://kagi.com/search?q=

middle_click_search_engine s
shift_middle_click_search_engine	k

should_use_multiple_monitors 1

should_launch_new_window 1

# Synctex
inverse_search_command  nvr --remote-silent %1 -c %2

# Use linear texture filtering instead of nearest-neighbor
# Can improve appearance in very high-resolution screens
linear_filter 1

# read the current selection
new_command _read_selected_text /usr/bin/say %{selected_text}
# search for the current selection
new_command _search_with_kagi open https://kagi.com/search?q=%{selected_text}
# open dict.cc for current selection
new_command _open_in_dict_cc open https://www.dict.cc/?s=%{selected_text}

touchpad_sensitivity 0.3
vertical_move_amount 3

show_doc_path 1

multiline_menus 1

startup_commands toggle_horizontal_scroll_lock;

shared_database_path /Users/frankroeder/Library/Mobile Documents/com~apple~CloudDocs/configs/sioyek-shared.db
