@import url("librewolf.css");

@-moz-document url-prefix("about:") {
  :root {
    --in-content-page-background: var(--ctp-base) !important;
    --in-content-page-color: var(--ctp-text) !important;
    --in-content-text-color: var(--ctp-text) !important;
    --in-content-box-background: var(--ctp-surface0) !important;
    --in-content-box-background-odd: var(--ctp-mantle) !important;
    --in-content-box-border-color: var(--ctp-surface1) !important;
    --in-content-primary-button-background: var(--ctp-blue) !important;
    --in-content-primary-button-text-color: var(--ctp-base) !important;
    --in-content-accent-color: var(--ctp-blue) !important;
    --in-content-link-color: var(--ctp-blue) !important;
    color-scheme: var(--asahi-color-scheme) !important;
  }

  body,
  html {
    background: var(--ctp-base) !important;
    color: var(--ctp-text) !important;
  }

  input,
  textarea,
  select {
    background: var(--ctp-surface0) !important;
    border-color: var(--ctp-surface1) !important;
    color: var(--ctp-text) !important;
  }

  button,
  .button {
    background: var(--ctp-surface0) !important;
    border-color: var(--ctp-surface1) !important;
    color: var(--ctp-text) !important;
  }

  button.primary,
  .primary {
    background: var(--ctp-blue) !important;
    color: var(--ctp-base) !important;
  }
}
